<!doctype html>
<html lang="en" data-bs-theme="dark">
<%- include("layouts/header") -%>
<body style="background-color: black;">
<header class="section">
  <%- include("layouts/navbar") -%>
  <%- include("partials/home/intro") -%>
</header>
<main>
  <section class="container my-5 py-4">
    <%- include("partials/home/articles") -%>
    <%- include("partials/home/sponsors") -%>
  </section>
</main>

<%- include("layouts/footer") -%>
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"
></script>
</body>
</html>