<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="bg-red-gradient">
<header class="mb-9">
    <%- include('layouts/navBar2') -%>
</header>

<main class="container my-5 py-5">
    <div class="row justify-content-center align-items-center mb-6">
        <div class="col-lg-10 text-center">
            <h1 class="mb-3 fw-bold">Getting Sponsored</h1>
            <p class="text-white">
                Here you can apply to be a sponsor of the website and our show. Your funds will help us
                to continue our podcast that everyone loves and wants to hear.
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <% for(i=0; i < sponsored.length; i++) { %>
            <div class="col-lg-6 mb-3">
                <div class="card hover-zoom">
                    <div class="card-header-pills">
                        <a href="<%= sponsored[i].webUrl %>">
                            <img src="<%= sponsored[i].imageUrl %>" class="card-img-top" alt="..." style="width: 100%;">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><%= sponsored[i].title %></h4>
                        <p class="card-text">
                            <%= sponsored[i].description %>
                        </p>
                        <p class="card-footer">
                            <a href="<%= sponsored[i].link %>" class="btn btn-primary">Apply Now</a>
                        </p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</main>

<%- include('layouts/footer') -%>

<!-- MDB -->
</body>
</html>